:root {
    --color-primary: #1b2634;

    --color-secondary: #F2EDE4;
    --color-secondary-dark: #b4ab9b;

    --color-tertiary: #ffd479;
    --color-tertiary-dark: #d6a843;
}

/*---------------------------------*/
/* BASIC SETUP */
/*---------------------------------*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    overflow: scroll;
    overflow-x: hidden;
}

body{
    background: var(--color-secondary);
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

::placeholder { 
    color: var(--color-secondary);
    opacity: 1; 
    font-size: 1.3rem;
  }

header{
    font-size: 2rem;
}

main{
    max-width: 1140px;   
    height: 100vh; 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*------ HEADINGS -------*/

h1{
    font-size: 3rem;
    margin-bottom: 3rem;
}

h2 {
    font-size: 2.5rem;
    color: var(--color-secondary);
    letter-spacing: 0.1rem;
    margin-bottom: 3rem;
    text-align: center;
}

h3{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--color-tertiary);
    text-align: center;
}

/*----- ICONS ------*/

.fa-shopping-basket{
    color: var(--color-tertiary);
    text-align: center;
    margin-bottom: 2.5rem;
}

/*----- BUTTONS ------*/
.btn{
    padding: 0.5rem 2rem;
    margin-top: 3rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    border: none;
    text-transform: uppercase;
    border-radius: 3px;
}

.add-button{
    color: var(--color-primary);
    background: var(--color-tertiary);
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-button:hover{
    background: var(--color-tertiary-dark);
}

.btn-order{
    background: var(--color-tertiary);
    color: var(--color-primary);
    transition: all 0.3s ease;
}

.add-button:hover, 
.btn-order:hover {
    background: var(--color-tertiary-dark);
    transform: translateY(-5px);
}

.btn-reset{
    background: var(--color-secondary);
    color: var(--color-primary);
    transition: all 0.3s ease;
}

.btn-reset:hover{
    background: var(--color-secondary-dark);
    transform: translateY(-5px);
}

/*---------------------------------*/
/* HEADER */
/*---------------------------------*/

/*Main navi*/

.logo {
    margin-left: 3rem;
    color: var(--color-tertiary-dark);
}

nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--color-secondary);
    background: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 1px
}
.main-nav {
    list-style: none;
}

.main-nav li {
    display: inline-block;
    margin-right: 7rem;
    text-rendering: optimizeLegibility;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 3px 0;
    color: var(--color-secondary);
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid var(--color-tertiary);
}

/*---------------------------------*/
/* SHOPPING LIST */
/*---------------------------------*/
.container{
    display: flex;
    justify-content: center;
    color: var(--color-secondary);
}

/*----- FORM ------*/
form{
    min-width: 35rem;
    height: 40rem;
    padding: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-primary);
}

form span {
    color: var(--color-tertiary);
    letter-spacing: 1px;
}

form label {
    font-size: 1.6rem;
    align-self: flex-start;
    font-weight: 400;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
}

form input {
    width: 100%;
    margin-bottom: 1rem;
    background: var(--color-primary);
    padding: 0.5rem;
    font-size: 1.5rem;
    font-family: inherit;
    font-weight: 300;
    color: var(--color-secondary);
    letter-spacing: 1px;
    border: none;
    border-bottom: 1px solid var(--color-secondary);
}

form input:focus{
    outline: none;
}

.product-input{
    margin-bottom: 3rem;
}

/* Chrome, Safari, Edge, Opera */
.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.price-input[type=number] {
  -moz-appearance: textfield;
}

/*----- BASKET ------*/
.basket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 35rem;
    min-height: 40rem;
    padding: 2rem;
    background: var(--color-primary);
    align-self: flex-start;
}

.basket-list {
    list-style: none;
}

.product-in-basket{
    margin:0.5rem;
    font-size: 1.5rem;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
    border: var(--color-secondary);
}

.product-item{
    padding: 0rem 0.5rem;
    width: 100%;
    overflow: hidden;
    border-bottom:1px solid var(--color-secondary);
    text-transform: capitalize;
}

.price-item{
    padding: 0rem 0.5rem;
    text-align: end;
    min-width: 8rem;
    overflow: hidden;
    border-bottom:1px solid var(--color-secondary);
}

.price-value{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
    margin-top: 3rem;
    font-size: 1.6rem;
}

.total-price{
    background: white;
    min-width: 5rem;
    padding: 0 0.5rem;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: end;
    color: var(--color-primary);
    display: inline-block;
    margin-left: 1rem;
    min-width: 6rem;
}

.buttons-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

.hide {
    display: none;
}