:root {
    --color-primary: #1b2634;

    --color-secondary: #F2EDE4;
    --color-secondary-dark: #b4ab9b;

    --color-tertiary: #ffd479;
    --color-tertiary-dark: #d6a843;
}

/*---------------------------------*/
/* BASIC SETUP */
/*---------------------------------*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    overflow: scroll;
    overflow-x: hidden;
}

body{
    background: var(--color-secondary);
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

::placeholder { 
    color: var(--color-secondary);
    opacity: 1; 
    font-size: 1.3rem;
  }

header{
    font-size: 2rem;
}

main{
    max-width: 1140px;   
    height: 100vh; 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*---------------------------------*/
/* HEADER */
/*---------------------------------*/

/*Main navi*/

.logo {
    margin-left: 3rem;
    color: var(--color-tertiary-dark);
}

nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--color-secondary);
    background: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 1px
}
.main-nav {
    list-style: none;
}

.main-nav li {
    display: inline-block;
    margin-right: 7rem;
    text-rendering: optimizeLegibility;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 3px 0;
    color: var(--color-secondary);
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid var(--color-tertiary);
}

/*---------------------------------*/
/* SHOPPING LIST */
/*---------------------------------*/
.container{
    display: flex;
    justify-content: center;
    color: var(--color-secondary);
}

/*----- FORM ------*/
form{
    min-width: 35rem;
    height: 40rem;
    padding: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-primary);
}

form span {
    color: var(--color-tertiary);
    letter-spacing: 1px;
}

form label {
    font-size: 1.6rem;
    align-self: flex-start;
    font-weight: 400;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
}

form input {
    width: 100%;
    margin-bottom: 1rem;
    background: var(--color-primary);
    padding: 0.5rem;
    font-size: 1.5rem;
    font-family: inherit;
    font-weight: 300;
    color: var(--color-secondary);
    letter-spacing: 1px;
    border: none;
    border-bottom: 1px solid var(--color-secondary);
}

form input:focus{
    outline: none;
}

.product-input{
    margin-bottom: 3rem;
}